<h1 align="center">Walmart Sales Data — Cleaning & Feature Engineering (Python ETL)</h1>
<br>

## Introduction

This notebook focuses on performing the data cleaning and preprocessing required to prepare the Walmart sales dataset for downstream analysis in PostgreSQL.

The work carried out here forms the **ETL (Extract–Transform–Load)** component of the project.  
All exploratory data analysis (EDA) and SQL-based business insights will be performed separately in **pgAdmin**.

### **Steps covered in this notebook**
- Loading and inspecting the raw dataset  
- Performing data type corrections  
- Handling missing values and duplicates  
- Creating new engineered features to support advanced SQL analysis  
- Exporting the cleaned dataset to a PostgreSQL database  

This structured preparation ensures that the dataset is consistent, enriched, and optimized for deeper analytical queries downstream.

In [1]:
import kaggle
!kaggle datasets download -d najir0123/walmart-10k-sales-datasets

Dataset URL: https://www.kaggle.com/datasets/najir0123/walmart-10k-sales-datasets
License(s): MIT
Downloading walmart-10k-sales-datasets.zip to /Users/nishitgaur/Desktop/Walmart_Sales_Project
100%|█████████████████████████████████████████| 143k/143k [00:00<00:00, 201kB/s]
100%|█████████████████████████████████████████| 143k/143k [00:00<00:00, 201kB/s]

In [3]:
import zipfile
with zipfile.ZipFile('./walmart-10k-sales-datasets.zip') as zip_ref:
    zip_ref.extractall()

## Data Exploration and Cleaning

In [4]:
import pandas as pd
import numpy as np

In [5]:
walmart_df=pd.read_csv('./Walmart.csv',encoding_errors='ignore')
walmart_df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [6]:
walmart_df.shape

(10051, 11)

In [7]:
walmart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

<br>

From the initial inspection, we observe that the columns **`unit_price`** and **`quantity`** contain some missing values that will need to be addressed during the cleaning process.  
Additionally, several columns have incorrect data types—for example, `unit_price` is currently stored as an object rather than a numeric type.  
These issues must be corrected to ensure accurate computations and seamless downstream analysis.

### Checking Duplicates

In [14]:
walmart_df.duplicated().sum()

np.int64(51)

In [16]:
walmart_df.drop_duplicates(inplace=True)

In [17]:
walmart_df.duplicated().sum()

np.int64(0)

In [18]:
walmart_df.shape

(10000, 11)

### Handling Missing Values

In [19]:
walmart_df.isna().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [22]:
walmart_df[walmart_df.isna().any(axis=1)].head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
1892,1893,WALM024,Carrollton,Home and lifestyle,NaN,NaN,09/06/23,16:09:00,Ewallet,9.0,0.48
1893,1894,WALM009,Plano,Fashion accessories,NaN,NaN,02/08/22,22:11:00,Ewallet,4.0,0.48
1894,1895,WALM010,Laredo,Home and lifestyle,NaN,NaN,01/08/23,12:06:00,Ewallet,4.0,0.48
1895,1896,WALM069,Rockwall,Fashion accessories,NaN,NaN,21/07/23,15:49:00,Ewallet,4.0,0.33
1896,1897,WALM093,Angleton,Home and lifestyle,NaN,NaN,15/05/22,12:36:00,Ewallet,9.0,0.33

Rows with missing values in `unit_price` and `quantity` are dropped, as there is no reliable information available to impute these fields. Given this limitation, removing such rows is the most appropriate way to handle the missing data in this context.

In [23]:
walmart_df.dropna(inplace=True)

In [26]:
#All null values removed
walmart_df.isna().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [27]:
walmart_df.shape

(9969, 11)

### Checking and Correcting Datatypes

In [28]:
walmart_df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [29]:
walmart_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9969 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   Branch          9969 non-null   object
 2   City            9969 non-null   object
 3   category        9969 non-null   object
 4   unit_price      9969 non-null   object
 5   quantity        9969 non-null   float64
 6   date            9969 non-null   object
 7   time            9969 non-null   object
 8   payment_method  9969 non-null   object
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
dtypes: float64(3), int64(1), object(7)
memory usage: 934.6+ KB

In [32]:
# Fixing unit_price column
walmart_df['unit_price']=pd.to_numeric(walmart_df.unit_price.str.replace('$',''))

In [36]:
# Converting date column to datetime
walmart_df['date']=pd.to_datetime(walmart_df.date,format='%d/%m/%y')

In [41]:
walmart_df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,2019-01-05,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,2019-03-08,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,2019-03-03,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,2019-01-27,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,86.31,7.0,2019-02-08,10:37:00,Ewallet,5.3,0.48

### Feature Engineering
Additional columns are created to enable deeper analysis of the dataset in PostgreSQL. These engineered features include variables such as `total_price`, `shift`, and others that enhance analytical insights.

In [42]:
walmart_df['total_price']=walmart_df['unit_price']*walmart_df['quantity']

In [44]:
walmart_df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total_price
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,2019-01-05,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,2019-03-08,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,2019-03-03,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,2019-01-27,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,2019-02-08,10:37:00,Ewallet,5.3,0.48,604.17

In [50]:
pd.to_datetime(walmart_df.time,format='%H:%M:%S').dt.hour

0       13
1       10
2       13
3       20
4       10
        ..
9995    10
9996    14
9997    16
9998    12
9999     9
Name: time, Length: 9969, dtype: int32

In [52]:
def get_shifts(x):
    if x<12:
        return 'Morning'
    elif x<17:
        return 'Afternoon'
    else:
        return 'Evening'

In [53]:
walmart_df['shift']=pd.to_datetime(walmart_df.time,format='%H:%M:%S').dt.hour.apply(get_shifts)

In [57]:
walmart_df['day_name']=walmart_df.date.dt.day_name()

In [60]:
walmart_df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total_price,shift,day_name
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,2019-01-05,13:08:00,Ewallet,9.1,0.48,522.83,Afternoon,Saturday
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,2019-03-08,10:29:00,Cash,9.6,0.48,76.40,Morning,Friday
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,2019-03-03,13:23:00,Credit card,7.4,0.33,324.31,Afternoon,Sunday
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,2019-01-27,20:33:00,Ewallet,8.4,0.33,465.76,Evening,Sunday
4,5,WALM013,Irving,Sports and travel,86.31,7.0,2019-02-08,10:37:00,Ewallet,5.3,0.48,604.17,Morning,Friday

In [68]:
# Difference between item price and its category’s average price (Useful for anomaly detection)
walmart_df['unit_price_diff_from_cat_avg']=walmart_df['unit_price']-walmart_df.groupby('category')['unit_price'].transform('mean')

In [78]:
# Round to 2 decimal places
walmart_df['total_price']=round(walmart_df.total_price,2)
walmart_df['unit_price_diff_from_cat_avg']=round(walmart_df.unit_price_diff_from_cat_avg,2)

In [81]:
walmart_df['date']=walmart_df.date.dt.date

In [89]:
# Converting column names to lower case
walmart_df.columns=walmart_df.columns.str.lower()

In [91]:
walmart_df.head()

,invoice_id,branch,city,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total_price,shift,day_name,unit_price_diff_from_cat_avg
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,2019-01-05,13:08:00,Ewallet,9.1,0.48,522.83,Afternoon,Saturday,19.84
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,2019-03-08,10:29:00,Cash,9.6,0.48,76.40,Morning,Friday,-36.36
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,2019-03-03,13:23:00,Credit card,7.4,0.33,324.31,Afternoon,Sunday,-4.11
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,2019-01-27,20:33:00,Ewallet,8.4,0.33,465.76,Evening,Sunday,3.37
4,5,WALM013,Irving,Sports and travel,86.31,7.0,2019-02-08,10:37:00,Ewallet,5.3,0.48,604.17,Morning,Friday,29.32

### Connecting to PostgreSQL

In [72]:
from sqlalchemy import create_engine

In [92]:
engine = create_engine("postgresql+psycopg2://postgres:password@localhost:5432/walmart_db")
try:
    engine
    print('Connection Successful to PostgreSQL')
except:
    print('Unable to Connect')

Connection Successful to PostgreSQL

In [93]:
walmart_df.to_sql(name='walmart_sales',con=engine,if_exists='append',index=False)

969